<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2>業務介紹</h2>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? department_area_start  -->
    <div class="department_area section-padding2">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center mb-100">
                        <span>本所公、認證</span>
                        <h2>主要服務項目</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="depart_ment_tab mb-30">
                        <!-- Tabs Buttons -->
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#depart1" role="tab" aria-controls="profile" aria-selected="false">
                                    <i class="fa fa-home"></i>
                                    <h4>房屋租賃契約</h4>
                                    <h4>公證</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="home-tab" data-toggle="tab" href="#depart10" role="tab" aria-controls="home" aria-selected="false">
                                    <i class="fa fa-home"></i>
                                    <h4>贈與契約</h4>
                                    <h4>公證</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#depart7" role="tab" aria-controls="contact" aria-selected="false">
                                    <i class="fa fa-book"></i>
                                    <h4>信託契約</h4>
                                    <h4>公證</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Neuroanatomy-tab" data-toggle="tab" href="#depart5" role="tab" aria-controls="contact" aria-selected="false">
                                    <i class="fa fa-user-circle"></i>
                                    <h4>單身證明</h4>
                                    <h4>認證</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Astrology-tab" data-toggle="tab" href="#depart9" role="tab" aria-controls="contact" aria-selected="false">
                                    <i class="fa fa-home"></i>
                                    <h4>離婚協議書</h4>
                                    <h4>公證</h4>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="home-tab" data-toggle="tab" href="#depart1" role="tab" aria-controls="home" aria-selected="false">
                                    <i class="fa fa-home"></i>
                                    <h4>房屋借用契約</h4>
                                    <h4>公證</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#depart8" role="tab" aria-controls="profile" aria-selected="false">
                                    <i class="fa fa-home"></i>
                                    <h4>職務宿舍借用契約</h4>
                                    <h4>公證</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#depart3" role="tab" aria-controls="contact" aria-selected="false">
                                    <i class="fa fa-book"></i>
                                    <h4>授權書(委託書)</h4>
                                    <h4>認證</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Astrology-tab" data-toggle="tab" href="#depart4" role="tab" aria-controls="contact" aria-selected="false">
                                    <i class="fa fa-home"></i>
                                    <h4>終止房屋租賃契約</h4>
                                    <h4>公證</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Neuroanatomy-tab" data-toggle="tab" href="#depart6" role="tab" aria-controls="contact" aria-selected="false">
                                    <i class="fa fa-user-circle"></i>
                                    <h4>自書遺囑</h4>
                                    <h4>認證</h4>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="dept_main_info white-bg">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="depart1" role="tabpanel" aria-labelledby="home-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>房屋借用契約</h3 >
                                    <h3>公證</h3 >
                                    <p>為求雙方權利獲得保障，避免糾紛，訂立房屋無償借用契約時，可至本事務所辦理公證，並約定「逕受強制執行條款」。經公證之房屋借用契約，倘借用人期滿不交還房屋時，不須經過冗長的訴訟程序即可請求法院強制執行。（本所公證之效力及收費均等同法院）</p>
                                    <a href="blog_details.html" class="dep-btn">詳細資訊<i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="assets/img/gallery/department1.png" alt="" style="width: 100%; height: 100%;">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="depart2" role="tabpanel" aria-labelledby="profile-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>房屋租賃契約</h3 >
                                    <h3>公證</h3 >
                                    <p>訂立房屋租賃契約時，可至本事務所辦理公證，並約定「逕受強制執行條款」。屆時如承租人、連帶保證人不給付租金、違約金；或承租人租期屆滿不返還房屋，或出租人不返還保證金，不須經過冗長的訴訟程序即可請求法院強制執行。租賃雙方權利均可獲得保障，也可避免糾紛。本所公證之效力及收費均等同法院）</p>
                                    <a href="blog_details_2.html" class="dep-btn">詳細資訊<i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="assets/img/gallery/department2.png" alt="" style="width: 100%; height: 100%;">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="depart3" role="tabpanel" aria-labelledby="contact-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>授權書/委託書</h3 >
                                    <h3>認證</h3 >
                                    <p>授權書內，就授權辦理的事項須記載明確。如授權辦理事項為不動產之出賣或設定負擔、不動產之租賃其期限逾二年者、贈與、和解、起訴、提付仲裁等依法須特別授權之法律行為，並應載明特別授權之意思（民法第 534 條參照）。且原則上同一人不可以代理契約雙方，也不可以在自己和對方訂契約時，自己代理契約的對方（民法第106條參照）。 </p>
                                    <a href="blog_details_3.html" class="dep-btn">詳細資訊<i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="assets/img/gallery/department3.png" alt="" style="width: 100%; height: 100%;">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="depart4" role="tabpanel" aria-labelledby="Astrology-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>終止房屋租賃契約</h3 >
                                    <h3>公證</h3 >
                                    <p>房屋租賃契約經過公證之後，契約雙方因故須提前終止租約，雙方可至本事務所辦理終止租賃契約之公證，既可保障雙方權益，亦可避免出租人溢繳房屋租賃所得稅及日後舉證困難之問題。 </p>
                                    <br/>
                                    <br/>
                                    <a href="blog_details_4.html" class="dep-btn">詳細資訊<i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="assets/img/gallery/department4.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="depart5" role="tabpanel" aria-labelledby="Neuroanatomy-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>單身證明（單身切結書）</h3 >
                                    <h3>認證</h3 >
                                    <p>臺灣人民因擬赴境外使用中文地區(如中國大陸或越南)結婚，須證明自己為單身時，可至本所辦理「中文單身切結書」(單身證明)之認證。 </p>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <a href="blog_details_5.html" class="dep-btn">詳細資訊<i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="assets/img/gallery/department5.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="depart6" role="tabpanel" aria-labelledby="Neuroanatomy-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>自書遺囑</h3 >
                                    <h3>認證</h3 >
                                    <p>預立遺囑，如本人能自行書寫全文，可依民法1190條作成「自書遺囑」，方式最為簡便（毋須另找見證人），完成自書遺囑後可至本事務所進行「認證」，以避免日後發生遺囑真偽之爭議。（本所公證之效力及收費均等同法院） </p>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <a href="blog_details_6.html" class="dep-btn">詳細資訊<i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="assets/img/gallery/department5.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="depart7" role="tabpanel" aria-labelledby="Neuroanatomy-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>信託契約</h3 >
                                    <h3>公證</h3 >
                                    <br/>
                                    <br/>
                                    <br/>
                                    <a href="blog_details_7.html" class="dep-btn">詳細資訊<i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="assets/img/gallery/department5.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="depart8" role="tabpanel" aria-labelledby="Neuroanatomy-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>職務宿舍借用契約</h3 >
                                    <h3>公證</h3 >
                                    <p>
                                        政府機關或各級學校，若有提供職務宿舍供所屬人員使用時，可至本事務所辦理「職務宿舍借用契約公證」，並約定「逕受強制執行條款」，讓雙方權利獲得保障。經公證之職務宿舍借用契約，倘借用人期滿不交還房屋時，不須經過冗長的訴訟程序即可請求法院強制執行。
（本所公證之效力及收費均等同法院）

                                    </p> 
                                    <br/>
                                    <br/>
                                    <br/>
                                    <a href="blog_details_8.html" class="dep-btn">詳細資訊<i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="assets/img/gallery/department5.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="depart9" role="tabpanel" aria-labelledby="Neuroanatomy-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>離婚協議書</h3 >
                                    <h3>公證</h3 >
                                    <p>依民法第1050條之規定，夫妻雙方就離婚之相關事項寫成書面文件、經二位證人見證及簽名，至戶政事務所辦理登記完成後，即生離婚效力。簽署離婚協議書時，可至本事務所辦理公證，並約定「逕受強制執行條款」。倘當事人一方未依約履行協議內所載之金錢給付事項（如未成年子女之扶養費、贍養費等），不須經過冗長的訴訟程序即可請求法院強制執行。協議人雙方權利均可獲得保障，也可避免糾紛。（本所公證之效力及收費均等同法院）。 </p>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <a href="blog_details_5.html" class="dep-btn">詳細資訊<i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="assets/img/gallery/department5.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="depart10" role="tabpanel" aria-labelledby="Neuroanatomy-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>贈與契約</h3 >
                                    <h3>公證</h3 >
                                    <p>贈與契約經公證後，除了可達到「保存證據」之效用外，依民法第408條第2項之規定，經公證之贈與，縱使贈與物之權利未移轉前，贈與人亦「不得撤銷」其贈與，可保障受贈人之權益。（本所公證之效力及收費均等同法院） </p>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <a href="blog_details_5.html" class="dep-btn">詳細資訊<i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="assets/img/gallery/department5.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    </div>
            </div>

        </div>
    </div>
    <!-- depertment area end  -->
    </main>