<footer>
  <!--? Footer Start-->
  <div class="footer-area section-bg" data-background="assets/img/gallery/footer_bg.jpg">
      <div class="container">
          <div class="footer-bottom">
              <div class="row d-flex justify-content-between align-items-center">
                  <div class="col-xl-12 col-lg-12">
                      <div class="footer-copy-right">
                          <span style="color: #bdbdbd; font-size: 18px;" >
                              本所地址：
                              臺北市士林區大西路74巷14號1樓
                              (士林捷運站2號出口2分鐘，可自大東路123號統一超商旁進入) <br/>
                          </span>
                          <span style="color: #bdbdbd; font-size: 18px;"> 電話：(02)2883-5023｜</span>
                          <span style="color: #bdbdbd; font-size: 18px;"> 傳真：(02)2881-8036｜</span>
                          <span style="color: #bdbdbd; font-size: 18px;"> 手機：0975-565-385｜</span>
                          <span style="color: #bdbdbd; font-size: 18px;"> Line ID：28835023｜</span>
                          <span style="color: #bdbdbd; font-size: 18px;"> E-mail:notary.shilin@gmail.com</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Footer End-->
</footer>