<footer class="bg-light py-3 mt-auto border-top">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center gap-2">
    <span class="text-muted">&copy; <%= new Date().getFullYear() %> Init Project</span>
    <div class="social-links d-flex gap-3">
      <a href="#" class="text-muted">
        <i class="fa-brands fa-facebook fa-lg"></i>
      </a>
      <a href="#" class="text-muted">
        <i class="fa-brands fa-instagram fa-lg"></i>
      </a>
      <a href="#" class="text-muted">
        <i class="fa-brands fa-x-twitter fa-lg"></i>
      </a>
    </div>
  </div>
</footer>

