<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center">
                            <h2>收費標準</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Start Align Area -->
    <div class="whole-wrap">
        <div class="col-12">
            <br/>
            <h3 style="color: red;text-align: center;">本所收費及效力均等同法院，收費標準係依司法院公布之「公證費用標準表」計算公證費用。
                <br/>
                <br/>
                依公證法第108條之規定，公證費用不得增減其數額。
                <br/>
                <br/>
                公證費用標準表詳如下方表格。</h3>
        </div>
        <div class="container">
            <div class="raw">
                <div class="col-12">
                    <img src="assets/img/pay/pay1.png" alt="" style="height: 100%; width: 100%;">
                  </div>
                  <div class="col-12">
                    <img src="assets/img/pay/pay2.png" alt="" style="height: 100%; width: 100%;">
                  </div>
                  <div class="col-12">
                    <img src="assets/img/pay/pay3.png" alt="" style="height: 100%; width: 100%;">
                  </div>
                  <div class="col-12">
                    <img src="assets/img/pay/pay4.png" alt="" style="height: 100%; width: 100%;">
                  </div>
            </div>
        </div>
    </div>
    <!-- End Align Area -->
</main>