<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center">
                            <h2>相關連結</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Start Button -->
    <!-- Start Align Area -->
    <div class="whole-wrap">
        <div class="container box_1170">
            <div class="section-top-border">
                <div class="row">
                    <ol class="ordered-list">
                        <li><a href="https://www.judicial.gov.tw/tw/mp-1.html"><span>司法院</span></a></li>
                        <li><a href="https://www.judicial.gov.tw/tw/lp-1427-1.html"><span>司法院 公證業務專區</span></a></li>
                        <li><a href="https://sld.judicial.gov.tw/default.asp?but1=31&but2=58&but3=0"><span>臺灣士林地方法院公證處</span></a></li>
                        <li><a href="http://www.sef.org.tw/mp1.html"><span>財團法人海峽交流基金會（海基會）</span></a></li>
                        <li><a href="https://www.boca.gov.tw/mp-1.html"><span>外交部領事事務局</span></a></li>
                        <li><a href="https://slhr.gov.taipei/"><span>臺北市士林區戶政事務所</span></a></li>
                        <li><a href="https://www.slla.gov.taipei/"><span>臺北市士林區地政事務所</span></a></li>
                        <li><a href="https://www.npa.gov.tw/NPAGip/wSite/mp?mp=1"><span>內政部警政署</span></a></li>
                    </ol>
                </div>
            </div>
    </div>
    <!-- End Align Area -->
</main>