<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2>關於公證人</h2>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? About Start-->
    <div class="about-area section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                    <div class="about-caption">
                        <div class="section-tittle section-tittle2 mb-35">
                            <h2>張加慶 公證人</h2>
                            <br/>
                            <span>學、經歷:</span>
                                <ol class="ordered-list">
                                    <li><span>國立臺北大學法律學系畢業</span></li>
                                    <li><span>信義房屋股份有限公司 法務專員</span></li>
                                    <li><span>經濟部智慧財產局 商標審查人員</span></li>
                                </ol>
                            <span>國家考試及格：</span>
                                <ol class="ordered-list">
                                    <li><span>民間公證人高考及格(107專高證字第000017號)</span></li>
                                    <li><span>法官學院及臺灣士林地方法院之公證實務訓練合格</span></li>
                                    <li>
                                        <span>經司法院遴任為臺灣士林地方法院所屬民間公證人
                                            <br/>
                                            <br/>
                                            (遴任證書號碼：109年度民公證字第0012號)
                                        </span>
                                    </li>
                                </ol>
                        </div>
                        <p>
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                    <img src="assets/img/gallery/about4.jpg" alt="" style="height: 100%; width: 100%; display:block; margin:auto;">
                </div>
            </div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-lg-3 col-md-6 col-6">
                    <img src="assets/img/certificate/certificate2.png" alt="" style="height: 80%; width: 60%; display:block; margin:auto;">
                    <p class="text-center">司法院民間公證人遴任證書</p>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <img src="assets/img/certificate/certificate3.png" alt="" style="height: 80%; width: 60%; display:block; margin:auto;">
                    <p class="text-center">考試院考試及格證書</p>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <img src="assets/img/certificate/certificate4.jpg" alt="" style="height: 80%; width: 60%; display:block; margin:auto;">
                    <p class="text-center">臺灣士林地方法院核准登錄函</p>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <img src="assets/img/certificate/certificate5.jpg" alt="" style="height: 80%; width: 60%; display:block; margin:auto;">
                    <p class="text-center">台北地區公證人公會 會員證書</p>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <img src="assets/img/certificate/certificate1.png" alt="" style="height: 80%; width: 60%; display:block; margin:auto;">
                    <p class="text-center">法官學院研習證明</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About  End-->
    </main>