<main>
    <!--? Hero Start -->
    <div class="slider-area2">
       <div class="slider-height2 d-flex align-items-center">
             <div class="container">
                <div class="row">
                   <div class="col-xl-12">
                         <div class="hero-cap hero-cap2 text-center">
                            <h2>房屋借用契約 公證</h2>
                         </div>
                   </div>
                </div>
             </div>
       </div>
    </div>
    <!-- Hero End -->
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section-padding">
       <div class="container">
          <div class="row">
             <div class="col-lg-12">
                <div class="single-post">
                   <div class="feature-img">
                      <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt="">
                   </div>
                   <div class="blog_details">
                      <h2>說明：</h2>
                      <p class="excert">
                         為求雙方權利獲得保障，避免糾紛，訂立房屋無償借用契約時，可至本事務所辦理公證，並約定「逕受強制執行條款」。經公證之房屋借用契約，倘借用人期滿不交還房屋時，不須經過冗長的訴訟程序即可請求法院強制執行。
                         （本所公證之效力及收費均等同法院）
                      </p>
                      <h2>應備文件：</h2>
                      <p class="excert">
                         <ol class="ordered-list">
                            <li>
                               請求人（契約雙方）均應由本人攜帶<span style="color: red; font-weight:bold; text-decoration:underline;">國民身分證</span>及<span style="color: red; font-weight:bold; text-decoration:underline;">印章</span>；
                               如請求人係公司法人或商號，並請攜帶<span style="color: red; font-weight:bold; text-decoration:underline;">公司設立(變更)登記事項表正本</span>及<span style="color: red; font-weight:bold; text-decoration:underline;">公司（法人）大小章</span>。如為籌備中之公司，請帶<span style="color: red; font-weight:bold; text-decoration:underline;">公司名稱預查表</span>。
                            </li>
                            <li>
                               貸與人並應攜帶<span style="color: red; font-weight:bold; text-decoration:underline;">房屋所有權狀正本</span>及<span style="color: red; font-weight:bold; text-decoration:underline;">最近一期之房屋稅單（或房屋現值證明書）正本</span>。(權狀及稅單，至少其一須為正本)
                            </li>
                            <li>
                               如借用範圍為房屋之一部分者，請並附<span style="color: red; font-weight:bold; text-decoration:underline;">「平面位置圖」</span>。
                            </li>
                         </ol>
                      </p>
                      <h2>應到場者：</h2>
                      <span class="excert">
                         借用契約之契約雙方均應到場；惟請求人如不能到場
                         <span style="color: red; font-weight:bold; text-decoration:underline;">
                            可委任他人代理</span>，代理人應攜帶
                            <span style="color: red; font-weight:bold; text-decoration:underline;">「代理人之身分證及印章」</span>
                            、<span style="color: red; font-weight:bold; text-decoration:underline;">「授權書」</span>
                            及<span style="color: red; font-weight:bold; text-decoration:underline;">「六個月內之印鑑證明」</span>。
                            <br/>（代理公司時，則須攜帶
                            <span style="color: red; font-weight:bold; text-decoration:underline;">「授權書」</span>
                            及<span style="color: red; font-weight:bold; text-decoration:underline;">「六個月內之公司設立(變更)登記事項表正本」</span>。）
                      </p>
                      <h2>公證費用：</h2>
                      <p class="excert">
                         以<span style="color: red; font-weight:bold; text-decoration:underline;">房屋課稅現值</span>為標的價額，再依「公證費用標準表」計算之。
                      </p>
                      <div class="quote-wrapper">
                         <ol>
                            <li>1.(一)需檢附公司登記主管機關最近六個月內所核發公司設立（變更）登記事項表正本，及加蓋相同公司及其負責人印鑑章之影本，
                               正本核對無訛後發還，影本附卷存參。<br>
                               (二)倘公司設立（變更）登記事項表<span style="color: red; font-weight:bold; text-decoration:underline;">正本核發後巳逾六個月</span>，除檢附該正本核對外，
                               須再檢附公司登記主管機關<span style="color: red; font-weight:bold; text-decoration:underline;">最近三個月內核發</span>之公司設立（變更）登記事項表抄錄本。核對無訛後，正本發還，抄錄本附卷存參。
                            </li>
                            <li>2.授權書上須加蓋與印鑑證明相同之印鑑章。</li>
                         </ol>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!--================ Blog Area end =================-->
 </main>