<main>
    <!--? Hero Start -->
    <div class="slider-area2">
       <div class="slider-height2 d-flex align-items-center">
             <div class="container">
                <div class="row">
                   <div class="col-xl-12">
                         <div class="hero-cap hero-cap2 text-center">
                            <h2>終止房屋租賃契約 公證</h2>
                         </div>
                   </div>
                </div>
             </div>
       </div>
    </div>
    <!-- Hero End -->
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section-padding">
       <div class="container">
          <div class="row">
             <div class="col-lg-12">
                <div class="single-post">
                   <div class="feature-img">
                      <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt="">
                   </div>
                   <div class="blog_details">
                      <h2>說明：</h2>
                      <p class="excert">
                         房屋租賃契約經過公證之後，契約雙方因故須提前終止租約，雙方可至本事務所辦理終止租賃契約之公證，
                         既<span style="color: red; font-weight:bold; text-decoration:underline;">可保障雙方權益</span>，亦
                         <span style="color: red; font-weight:bold; text-decoration:underline;">可避免出租人溢繳房屋租賃所得稅及日後舉證困難之問題</span>。
                      </p>
                      <h2>應到場者：</h2>
                      <span class="excert">
                         原租賃契約之契約雙方均應到場；惟請求人如不能到場
                         <span style="color: red; font-weight:bold; text-decoration:underline;">可委任他人代理</span>，代理時應攜帶
                         「<span style="color: red; font-weight:bold; text-decoration:underline;">委託書</span>」及「
                         <span style="color: red; font-weight:bold; text-decoration:underline;">印鑑證明</span>」
                         （公司委託，則須攜帶「<span style="color: red; font-weight:bold; text-decoration:underline;">
                         委託書</span>」及「
                         <span style="color: red; font-weight:bold; text-decoration:underline;">公司設立(變更)登記事項表</span>」。）</p>
                      <h2>應備文件：</h2>
                         <p class="excert">
                            <ol class="ordered-list">
                               <li>
                                  請求人（契約雙方）均應由本人攜帶<span style="color: red; font-weight:bold; text-decoration:underline;">
                                  國民身分證</span>及
                                  <span style="color: red; font-weight:bold; text-decoration:underline;">印章</span>；
                                  如係公司法人或商號，並請攜帶公司設立(變更)登記事項表正本及公司（法人）大小章。
                               </li>
                               <li>
                                  請帶<span style="color: red; font-weight:bold; text-decoration:underline;">原房屋租賃契約公證書</span>一份。
                               </li>
                            </ol>
                         </p>
                      <h2>公證費用：</h2>
                      <p class="excert">
                         新台幣1000元。
                      </p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!--================ Blog Area end =================-->
 </main>