<main>
    <!--? Hero Start -->
    <div class="slider-area2">
       <div class="slider-height2 d-flex align-items-center">
             <div class="container">
                <div class="row">
                   <div class="col-xl-12">
                         <div class="hero-cap hero-cap2 text-center">
                            <h2>授權書（委託書）認證</h2>
                         </div>
                   </div>
                </div>
             </div>
       </div>
    </div>
    <!-- Hero End -->
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section-padding">
       <div class="container">
          <div class="row">
             <div class="col-lg-12">
                <div class="single-post">
                   <div class="feature-img">
                      <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt="">
                   </div>
                   <div class="blog_details">
                      <h2>說明：</h2>
                      <p class="excert">
                         授權書內，就<span style="color: red; font-weight:bold; text-decoration:underline;">授權辦理的事項須記載明確</span>。如授權辦理事項為不動產之出賣或設定負擔、不動產之租賃其期限逾二年者、贈與、和解、起訴、提付仲裁等依法須特別授權之法律行為，並應載明特別授權之意思（民法第 534 條參照）。且原則上同一人不可以代理契約雙方，也不可以在自己和對方訂契約時，自己代理契約的對方（民法第106條參照）。
                      </p>
                      <h2>應備文件：</h2>
                      <p class="excert">
                         <ol class="ordered-list">
                            <li>到場人之<span style="color: red; font-weight:bold; text-decoration:underline;">國民身分證。</span></li>
                            <li>
                               <span style="color: red; font-weight:bold; text-decoration:underline;">授權書</span>。(除所需份數外，尚須一份留於本所附卷；如係持往大陸地區使用，授權書/委託書應準備一式五份以上)
                            </li>
                            <li>
                               如授權/委託內容與不動產買賣、租賃或其他處分有關，請攜帶<span style="color: red; font-weight:bold; text-decoration:underline;">不動產證明文件</span>，如建物或土地所有權狀等到場辦理。
                            </li>
                         </ol>
                      </p>
                      <h2>溫馨提醒：</h2>
                      <span class="excert">
                         <ol class="ordered-list">
                            <li>本所備有授權書範本，惟各單位所要求之授權書內容及格式均有所不同，煩請來所辦理民眾先行向收受機關確認。</li>
                            <li>
                               如持往大陸地區使用，授權書（委託書）應準備一式五份以上；且因大陸各地區所要求授權書（委託書）填載內容不一，請先行與當地房產管理局等受理單位確認授權/委託之格式及內容，再行辦理公認證，以免持至當地發生無法使用之情形。(例如：中國上海市對於不動產處分、管理之授權書即有特定格式及授權內容要求。)
                            </li>
                         </ol>
                      </p>
                      <h2>應到場者：</h2>
                      <span class="excert">須「授權人本人」到場（不得代理）。</p>
                      <h2>公證費用：</h2>
                      <p class="excert">
                         中文授權書：新台幣500元。<br>中英文授權書：新台幣750元。 
                      </p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!--================ Blog Area end =================-->
 </main>