<main>
    <!--? Hero Start -->
    <div class="slider-area2">
       <div class="slider-height2 d-flex align-items-center">
             <div class="container">
                <div class="row">
                   <div class="col-xl-12">
                         <div class="hero-cap hero-cap2 text-center">
                            <h2>自書遺囑 認證</h2>
                         </div>
                   </div>
                </div>
             </div>
       </div>
    </div>
    <!-- Hero End -->
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section-padding">
       <div class="container">
          <div class="row">
             <div class="col-lg-12">
                <div class="single-post">
                   <div class="feature-img">
                      <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt="">
                   </div>
                   <div class="blog_details">
                      <h2>說明：</h2>
                      預立遺囑，如本人能自行書寫全文，可依民法1190條作成「自書遺囑」，方式最為簡便（毋須另找見證人），完成自書遺囑後可至本事務所進行「認證」，以避免日後發生遺囑真偽之爭議。（本所公證之效力及收費均等同法院）
                      </p>
                      <h2>應備文件：</h2>
                      <p class="excert">
                         <ol class="ordered-list">
                            <li>自書遺囑一式三份（立遺囑人收執一份，另兩份分別為供公證人事務所及公證人公會全國聯合會保存）</li>
                            <li>立遺囑人之身分證正本、印章</li>
                            <li>戶籍謄本（如現戶戶籍謄本及除戶戶籍謄本等）及繼承系統表</li>
                            <li>財產權利證明文件：如房屋權狀、土地權狀、最新日期之不動產登記謄本、存摺或存單、汽機車行照等。</li>
                            <li>財產價值證明文件：
                               <ol class="ordered-list">
                                  <li>土地：土地公告現值證明（例如土地登記謄本）</li>
                                  <li>建物：房屋稅稅單（須為最近一期，載有房屋課稅現值）</li>
                                  <li>動產：存摺、存單等</li>
                                  <li>國稅局財產總歸戶清單</li>
                               </ol>
                            </li>
                         </ol>
                      </p>
                      <h2>應到場者：</h2>
                      <span class="excert">
                         立遺囑人必須<span style="color: red; font-weight:bold; text-decoration:underline;">親自到場</span>，不可代理。
                      </p>
                      <h2>認證費用：</h2>
                      <p class="excert">
                         就遺囑內所涉及之財產價值，依司法院公告之「公證費用標準表」計算之。<br/>
                         備註：<span style="color: red; font-weight:bold; text-decoration:underline;">土地</span>價值係以「<span style="color: red; font-weight:bold; text-decoration:underline;">公告現值</span>」核定、<span style="color: red; font-weight:bold; text-decoration:underline;">建物</span>價值係以「<span style="color: red; font-weight:bold; text-decoration:underline;">課稅現值</span>」核定。                           
                      </p>
                      <div class="quote-wrapper">
                         <h5>溫馨提醒</h5>
                         <ol class="ordered-list">
                            <li>自書遺囑，<span style="color: red; font-weight:bold; text-decoration:underline;">不可打字或影印</span>（須自書全文），但<span style="color: red; font-weight:bold; text-decoration:underline;">可以使用「複寫紙」</span>複寫！</li>
                            <li>遺囑內容，須注意民法「特留分」之規定！</li>
                         </ol>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!--================ Blog Area end =================-->
 </main>