<main>
    <!--? Hero Start -->
    <div class="slider-area2">
       <div class="slider-height2 d-flex align-items-center">
             <div class="container">
                <div class="row">
                   <div class="col-xl-12">
                         <div class="hero-cap hero-cap2 text-center">
                            <h2>離婚協議書 公證</h2>
                         </div>
                   </div>
                </div>
             </div>
       </div>
    </div>
    <!-- Hero End -->
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section-padding">
       <div class="container">
          <div class="row">
             <div class="col-lg-12">
                <div class="single-post">
                   <div class="feature-img">
                      <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt="">
                   </div>
                   <div class="blog_details">
                      <h2>說明：</h2>
                      <p class="excert">
                         依民法第1050條之規定，夫妻雙方就離婚之相關事項寫成書面文件、經二位證人見證及簽名，至戶政事務所辦理登記完成後，即生離婚效力。簽署離婚協議書時，可至本事務所辦理公證，並約定「逕受強制執行條款」。倘當事人一方未依約履行協議內所載之金錢給付事項（如未成年子女之扶養費、贍養費等），不須經過冗長的訴訟程序即可請求法院強制執行。協議人雙方權利均可獲得保障，也可避免糾紛。（本所公證之效力及收費均等同法院）
                      </p>
                      <h2>應備文件：</h2>
                      <p class="excert">
                         <ol class="ordered-list">
                            <li>到場人之<span style="color: red; font-weight:bold; text-decoration:underline;">身分證正本、印章</span></li>
                            <li><span style="color: red; font-weight:bold; text-decoration:underline;">離婚協議書</span>一式四份（離婚人雙方各執一份，另兩份分別為辦理結婚登記及供公證使用）</li>
                            <li>離婚協議書內提及之<span style="color: red; font-weight:bold; text-decoration:underline;">財產權利證明文件</span>：
                               如房屋權狀、土地權狀、最新日期之不動產登記謄本、存摺或存單、汽機車行照等。
                            </li>
                            <li>
                               <span style="color: red; font-weight:bold; text-decoration:underline;">財產價值證明文件</span>：
                               <ol class="ordered-list">
                                  <li>土地：土地公告現值證明（例如土地登記謄本）</li>
                                  <li>建物：房屋稅稅單（須為最近一期，載有房屋課稅現值）</li>
                                  <li>動產：存摺、存單等</li>
                                  <li>國稅局財產總歸戶清單</li>
                               </ol>

                            </li>
                            <li>
                               若有涉及未成年子女之監護，請攜帶<span style="color: red; font-weight:bold; text-decoration:underline;">子女之戶口名簿或戶籍謄本</span>
                            </li>
                         </ol>
                      </p>
                      <h2>應到場者：</h2>
                      <p class="excert">
                         離婚人雙方、兩位見證人（須年滿20歲，親屬亦可）
                      </p>
                      <h2>公證費用：</h2>
                      <p class="excert">
                         公證法第113條之規定：「請求就婚姻、認領、收養或其他非因財產關係之法律行為或涉及私權之事實，作成公證書者，收取費用一千元。
                         <span style="color: red; font-weight:bold; text-decoration:underline;">於非財產關係之公證，並請求為財產關係之公證者，其公證費用分別收取之。</span>」
                         離婚協議之公證費用原則上為1000元，若涉及其他財產標的則另依司法院公告之「公證費用標準表」計算之。

                      </p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!--================ Blog Area end =================-->
 </main>