<main>
    <!--? Hero Start -->
    <div class="slider-area2">
       <div class="slider-height2 d-flex align-items-center">
             <div class="container">
                <div class="row">
                   <div class="col-xl-12">
                         <div class="hero-cap hero-cap2 text-center">
                            <h2>贈與契約 公證</h2>
                         </div>
                   </div>
                </div>
             </div>
       </div>
    </div>
    <!-- Hero End -->
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section-padding">
       <div class="container">
          <div class="row">
             <div class="col-lg-12">
                <div class="single-post">
                   <div class="feature-img">
                      <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt="">
                   </div>
                   <div class="blog_details">
                      <h2>說明：</h2>
                      <p class="excert">
                         贈與契約經公證後，除了可達到「保存證據」之效用外，依民法第408條第2項之規定，
                         <span style="color: blue; font-weight:bold; text-decoration:underline;">經公證之贈與，縱使贈與物之權利未移轉前，贈與人亦「不得撤銷」其贈與，可保障受贈人之權益。</span>（本所公證之效力及收費均等同法院）
                      </p>
                      <h2>應備文件：</h2>
                      <p class="excert">
                         <ol class="ordered-list">
                            <li><span style="color: red; font-weight:bold; text-decoration:underline;">贈與契約一式三份</span></li>
                            <li><span style="color: red; font-weight:bold; text-decoration:underline;">身分證正本、印章</span></li>
                            <li><span style="color: red; font-weight:bold; text-decoration:underline;">財產權利證明文件</span>：<br/>
                               如房屋權狀、土地權狀、最新日期之不動產登記謄本、
                               存摺或存單、汽機車行照等。
                               
                            </li>
                            <li><span style="color: red; font-weight:bold; text-decoration:underline;">財產價值證明文件</span>：
                               <ol class="ordered-list">
                                  <li>土地：土地登記謄本</li>
                                  <li>建物：房屋稅稅單（須為最近一期，載有房屋課稅現值）</li>
                                  <li>動產：存摺、存單等</li>
                                  <li>國稅局財產總歸戶清單</li>
                               </ol>
                            </li>
                         </ol>

                      </p>
                      <h2>公證費用：</h2>
                      <p class="excert">
                         就贈與契約內所涉及之財產價值，依司法院公告之「公證費用標準表」計算之。
                         備註：<span style="color: blue; font-weight:bold; text-decoration:underline;">土地</span>價值係以
                         「<span style="color: blue; font-weight:bold; text-decoration:underline;">公告現值</span>」核定、
                         <span style="color: blue; font-weight:bold; text-decoration:underline;">建物</span>價值係以
                         「<span style="color: blue; font-weight:bold; text-decoration:underline;">課稅現值</span>」核定。
                         

                      </p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!--================ Blog Area end =================-->
 </main>