<main>
    <!--? Hero Start -->
    <div class="slider-area2">
       <div class="slider-height2 d-flex align-items-center">
             <div class="container">
                <div class="row">
                   <div class="col-xl-12">
                         <div class="hero-cap hero-cap2 text-center">
                            <h2>單身證明（單身切結書）認證</h2>
                         </div>
                   </div>
                </div>
             </div>
       </div>
    </div>
    <!-- Hero End -->
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section-padding">
       <div class="container">
          <div class="row">
             <div class="col-lg-12">
                <div class="single-post">
                   <div class="feature-img">
                      <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt="">
                   </div>
                   <div class="blog_details">
                      <h2>說明：</h2>
                      <p class="excert">
                         臺灣人民因擬赴境外使用中文地區(如中國大陸或越南)結婚，須證明自己為單身時，可至本所辦理「中文單身切結書」(單身證明)之認證。
                      </p>
                      <h2>應到場者：</h2>
                      <p class="excert">
                         切結是性質上不能代理之行為，是「切結人」須親自到場辦理。
                      </p>
                      <h2>應備文件：</h2>
                         <p class="excert">
                            <ol class="ordered-list">
                               <li>切結人自己之「<span style="color: red; font-weight:bold; text-decoration:underline;">國民身分證正本</span>」。</li>
                               <li>最新的「<span style="color: red; font-weight:bold; text-decoration:underline;">戶籍謄本」(建議為五日內申請之戶籍謄本) 五份</span> 。</li>
                               <li>若曾結過婚，但原配偶已死亡者：除上述<span style="color: red; font-weight:bold; text-decoration:underline;">戶籍謄本五份外，尚須附「
                                  <span style="color: red; font-weight:bold; text-decoration:underline;">原配偶之死亡證明書謄本」五份</span>(向當初登記配偶死亡的原戶政事務所申請發給)。</li>
                               <li>若曾結過婚，但已和原配偶離婚者：除上述
                                  <span style="color: red; font-weight:bold; text-decoration:underline;">戶籍謄本五份</span>外
                                  ，尚須附「<span style="color: red; font-weight:bold; text-decoration:underline;">離婚協議書謄本或離婚判決書謄本」五份</span>(向當初登記離婚的原戶政事務所申請發給)。</li>
                               <li>赴中國大陸結婚者：須提供「結婚對象之姓名」、「戶口所在地省(市)」及「身分證號碼」，俾填寫無血緣關係聲明。</li>
                            </ol>
                         </p>
                      <h2>公證費用：</h2>
                         <p class="excert">
                            <ol class="ordered-list">
                               <li>「住址」之填寫，請與戶籍謄本上所載之地址一模一樣！<br>
                                  （鄰、里，均不要省略）</li>
                               <li>「大陸地區之結婚對象」資訊，請詳加確認！</li>
                               <li>若係持往【越南】使用，所附之「戶籍謄本」須為「現戶全戶」之戶籍謄本。</li>
                            </ol>

                         </p>
                      <h2>認證費用：</h2>
                      <p class="excert">
                         新台幣500元。
                      </p>
                      <div class="quote-wrapper">
                         ＊如係赴大陸結婚者，由於大陸地區法令修正（大陸地區婚姻登記條例於2003年10月1日頒布實施），除需辦理上述「單身切結書」外，
                         另須<span style="color: red; font-weight:bold; text-decoration:underline;">加辦「與大陸結婚對象無直系血親和三代以內旁系血親關係之聲明書」(無近親關係聲明書)之認證。</span>
                         單身切結書和無近親關係聲明書可同時辦理(認證費用共500元)，也可分別辦理(單身切結書500元+無近親關係聲明書500元=1000元)。
                      </div>
                      <div class="quote-wrapper">
                         ＊本所辦理「持往大陸使用之單身證明」，可連同「無近親關係聲明書」合併辦理，讓您用較節省的費用，達到相同效果！
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!--================ Blog Area end =================-->
 </main>