<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center">
                            <h2>相關文件</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Start Button -->
    <!-- Start Align Area -->
    <div class="whole-wrap">
        <div class="container">
                <div class="row">
                    <ol class="ordered-list">
                        <li><a href="https://drive.google.com/file/d/1EAJEr_CSLT10cLVE9SWILqSTasqxRp8l/view?usp=sharing"><span>不動產贈與契約 範本</span></a></li>
                        <li><a href="https://drive.google.com/file/d/11n2QW565PKyvBPNtNDuRJ8Lml_XNSy-T/view?usp=sharing"><span>公證請求書</span></a></li>
                        <li><a href="https://drive.google.com/file/d/1-MteeTM6J1z9Aa_KVIV0AKrW3FXdVur-/view?usp=sharing"><span>住宅租賃契約 範本</span></a></li>
                        <li><a href="https://drive.google.com/file/d/1vYmy3-x8M4ZfMidR2SYKp8oTTEnQPtJh/view?usp=sharing"><span>房屋租金修訂協議書</span></a></li>
                        <li><a href="https://drive.google.com/file/d/1LeHJo5wy0C7coWF4b5lad4C6iixF0Xuf/view?usp=sharing"><span>房屋租賃契約 範本</span></a></li>
                        <li><a href="https://drive.google.com/file/d/1vZHuKK5G5JbFAKu2g1HPTTySkkfGeemT/view?usp=sharing"><span>房屋租賃契約增補協議書</span></a></li>
                        <li><a href="https://drive.google.com/file/d/1vJSOj-L1AJnJwDRGlShA1cYxObo8SNvS/view?usp=sharing"><span>房屋無償使用借貸契約書</span></a></li>
                        <li><a href="https://drive.google.com/file/d/1d6OEUp7k9hT4GUdJXjIMLazL50Sc7DBT/view?usp=sharing"><span>房屋轉租同意書</span></a></li>
                        <li><a href="https://drive.google.com/file/d/1AJK6OzsalYw5rE4y_hWvhSc4lY2eq86i/view?usp=sharing"><span>授權書 (持往大陸使用)</span></a></li>
                        <li><a href="https://drive.google.com/file/d/1Er0wn2U6chQEAvHFHU5NF30ZSN2pNT4H/view?usp=sharing"><span>授權辦理公證 授權書</span></a></li>
                        <li><a href="https://drive.google.com/file/d/18AdPkQNtAgqZj4MRVFwELOJxHq2VGSS_/view?usp=sharing"><span>終止房屋租賃契約</span></a></li>
                        <li><a href="https://drive.google.com/file/d/1W-jkGlmeJcMMuHirGsG_uuE0kEzQj-fh/view?usp=sharing"><span>單身證明(到大陸以外其他國家結婚或赴大陸買房) (家人代聲明)</span></a></li>
                        <li><a href="https://drive.google.com/file/d/1nebVJI6JU9ik0T4XSKhkMgVaA9bMyIw0/view?usp=sharing"><span>單身證明(到大陸以外其他國家結婚或赴大陸買房)</span></a></li>
                        <li><a href="https://drive.google.com/file/d/1Je0U1JvhFzB2RA-383dzrDa_xYY4-52W/view?usp=sharing"><span>單身證明(到大陸結婚專用)</span></a></li>
                        <li><a href="https://drive.google.com/file/d/1osOjTnUdEMkYobQxK2hDMsPJx9r5Wh_L/view?usp=sharing"><span>認證請求書</span></a></li>
                    </ol>
                </div>
    </div>
    <!-- End Align Area -->
</main>